/* .settings {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  padding: 20px;
} */

.settings .settings__sections {
  padding-top: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 20px;
}
.settings__setting .settings__title {
  font-size: 22px;
  cursor: pointer;
}
.settings .settings__setting {
  margin-bottom: 30px;
}
